body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: aliceblue;
  text-align: center;
  background-color: cadetblue;
}

.Countdown{
  margin: 50px auto;
  padding-bottom: 20px;
}

.Countdown-col{
  display: inline-block;
}

.Countdown-col-element{
  display: inline-block;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}

.Countdown-col-element strong{
  font-size: 50px;
}

h3 {
  font-size: 24px;
}
